<nav>
    <ul class="center">
      <li>
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
        <a href="#">Home</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'hashtag']"></fa-icon>
        <a href="#">Explorar</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        <a href="#">Notificações</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        <a href="#">Mensagens</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
        <a href="#">Marcadores</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'list']"></fa-icon>
        <a href="#">Listas</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        <a href="#">Perfil</a>
      </li>
      <li>
        <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
        <a href="#">Mais</a>
      </li>
    </ul>
    <button class="tweet-button">Tweet</button>
</nav>
