<div class="profile">
    <img src="assets/userteste.jpg" alt="Profile Pic">
    <div class="profile-info">
      <h3>John Doe</h3>
      <p>&#64;imjohndoe</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
      <p class="follow-info">500 A Seguir | 1.223 Seguidores</p>
    </div>
    <button class="follow-button">Seguir</button>
</div>
<div class="tabs">
    <div class="tab active">Tweets</div>
    <div class="tab">Tweets & Respostas</div>
    <div class="tab">Media</div>
    <div class="tab">Gostos</div>
</div>


